body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;*/
}

.register-right {
    background: -webkit-linear-gradient(left, #00c6ff, #3931af);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5% 40%;
}

img {
    position: absolute;
    top: .5cm;
    left: 50%;
    transform: translate(-50%);
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #00c6ff;
    color: #000;
    cursor: pointer;
    float: right;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #ffffff;
}